In [136]:
# imports
import pandas as pd
!pip install lxml

Requirement already satisfied: lxml in c:\users\amir\anaconda3\lib\site-packages (4.6.1)

### United States Presidents

In [137]:
# read_html read the web site page and extract every tables in it
tables = pd.read_html("https://fr.wikipedia.org/wiki/Liste_des_pr%C3%A9sidents_des_%C3%89tats-Unis_par_long%C3%A9vit%C3%A9")

In [138]:
tables[0].shape

(46, 9)

In [139]:
tables[0].dtypes

No                           int64
Président                   object
Né le                       object
Devientprésident le         object
À l'âge de                  object
Cesse d'êtreprésident le    object
À la retraitependant        object
Mort le                     object
Durée de vie                object
dtype: object

In [140]:
presidents = tables[0]  
presidents = presidents.convert_dtypes()

In [141]:
presidents.dtypes

No                           Int64
Président                   string
Né le                       string
Devientprésident le         string
À l'âge de                  string
Cesse d'êtreprésident le    string
À la retraitependant        string
Mort le                     string
Durée de vie                string
dtype: object

In [142]:
tables[0]

,No,Président,Né le,Devientprésident le,À l'âge de,Cesse d'êtreprésident le,À la retraitependant,Mort le,Durée de vie
0,1,George Washington,22 février 1732[1],30 avril 1789,"57 ans, 67 jours",4 mars 1797,1 015 jours,14 décembre 1799,"24 767 jours (67 ans, 295 jours)"
1,2,John Adams,30 octobre 1735[1],4 mars 1797,"61 ans, 125 jours",4 mars 1801,9 253 jours,4 juillet 1826,"33 119 jours (90 ans, 247 jours)"
2,3,Thomas Jefferson,13 avril 1743[1],4 mars 1801,"57 ans, 325 jours",4 mars 1809,6 331 jours,4 juillet 1826,"30 397 jours (83 ans, 82 jours)"
3,4,James Madison,16 mars 1751[1],4 mars 1809,"57 ans, 353 jours",4 mars 1817,7 056 jours,28 juin 1836,"31 150 jours (85 ans, 104 jours)"
4,5,James Monroe,28 avril 1758,4 mars 1817,"58 ans, 310 jours",4 mars 1825,2 313 jours,4 juillet 1831,"26 729 jours (73 ans, 67 jours)"
5,6,John Quincy Adams,11 juillet 1767,4 mars 1825,"57 ans, 236 jours",4 mars 1829,6 930 jours,23 février 1848,"29 446 jours (80 ans, 227 jours)"
6,7,Andrew Jackson,15 mars 1767,4 mars 1829,"61 ans, 354 jours",4 mars 1837,3 018 jours,8 juin 1845,"28 574 jours (78 ans, 85 jours)"
7,8,Martin Van Buren,5 décembre 1782,4 mars 1837,"54 ans, 89 jours",4 mars 1841,7 812 jours,24 juillet 1862,"29 085 jours (79 ans, 231 jours)"
8,9,William Henry Harrison,9 février 1773,4 mars 1841,"68 ans, 23 jours",4 avril 1841,[2],4 avril 1841,"24 890 jours (68 ans, 54 jours)"
9,10,John Tyler,29 mars 1790,4 avril 1841,"51 ans, 6 jours",4 mars 1845,6 134 jours,18 janvier 1862,"26 227 jours (71 ans, 295 jours)"
10,11,James K. Polk,2 novembre 1795,4 mars 1845,"49 ans, 122 jours",4 mars 1849,103 jours,15 juin 1849,"19 583 jours (53 ans, 225 jours)"
11,12,Zachary Taylor,24 novembre 1784,4 mars 1849,"64 ans, 100 jours",9 juillet 1850,[2],9 juillet 1850,"23 967 jours (65 ans, 227 jours)"
12,13,Millard Fillmore,7 janvier 1800,9 juillet 1850,"50 ans, 183 jours",4 mars 1853,7 674 jours,8 mars 1874,"27 088 jours (74 ans, 60 jours)"
13,14,Franklin Pierce,23 novembre 1804,4 mars 1853,"48 ans, 101 jours",4 mars 1857,4 571 jours,8 octobre 1869,"23 695 jours (64 ans, 319 jours)"
14,15,James Buchanan,23 avril 1791,4 mars 1857,"65 ans, 315 jours",4 mars 1861,2 646 jours,1er juin 1868,"28 163 jours (77 ans, 39 jours)"
15,16,Abraham Lincoln,12 février 1809,4 mars 1861,"52 ans, 20 jours",15 avril 1865,[3],15 avril 1865,"20 516 jours (56 ans, 62 jours)"
16,17,Andrew Johnson,29 décembre 1808,15 avril 1865,"56 ans, 107 jours",4 mars 1869,2 340 jours,31 juillet 1875,"24 320 jours (66 ans, 214 jours)"
17,18,Ulysses S. Grant,27 avril 1822,4 mars 1869,"46 ans, 311 jours",4 mars 1877,3 063 jours,23 juillet 1885,"23 098 jours (63 ans, 87 jours)"
18,19,Rutherford B. Hayes,4 octobre 1822,4 mars 1877,"54 ans, 151 jours",4 mars 1881,4 337 jours,17 janvier 1893,"25 673 jours (70 ans, 105 jours)"
19,20,James A. Garfield,19 novembre 1831,4 mars 1881,"49 ans, 105 jours",19 septembre 1881,[3],19 septembre 1881,"18 202 jours (49 ans, 304 jours)"
20,21,Chester A. Arthur,5 octobre 1829,19 septembre 1881,"51 ans, 349 jours",4 mars 1885,624 jours,18 novembre 1886,"20 863 jours (57 ans, 44 jours)"
21,22,Grover Cleveland,18 mars 1837,4 mars 1885[4],"47 ans, 351 jours",4 mars 1889,Erreur d’expression : opérateur < inattendu. j...,24 juin 1908,"26 030 jours (71 ans, 98 jours)"
22,23,Benjamin Harrison,20 août 1833,4 mars 1889,"55 ans, 196 jours",4 mars 1893,2 930 jours,13 mars 1901,"24 676 jours (67 ans, 205 jours)"
23,24,Grover Cleveland,18 mars 1837,4 mars 1893[4],"55 ans, 351 jours",4 mars 1897,Erreur d’expression : opérateur < inattendu. j...,24 juin 1908,"26 030 jours (71 ans, 98 jours)"
24,25,William McKinley,29 janvier 1843,4 mars 1897,"54 ans, 34 jours",14 septembre 1901,[3],14 septembre 1901,"21 412 jours (58 ans, 228 jours)"
25,26,Theodore Roosevelt,27 octobre 1858,14 septembre 1901,"42 ans, 322 jours",4 mars 1909,3 595 jours,6 janvier 1919,"21 985 jours (60 ans, 71 jours)"
26,27,William Howard Taft,15 septembre 1857,4 mars 1909,"51 ans, 170 jours",4 mars 1913,6 213 jours,8 mars 1930,"26 471 jours (72 ans, 174 jours)"
27,28,Woodrow Wilson,28 décembre 1856,4 mars 1913,"56 ans, 66 jours",4 mars 1921,1 066 jours,3 février 1924,"24 507 jours (67 ans, 37 jours)"
28,29,Warren G. Harding,2 novembre 1865,4 mars 1921,"55 ans, 122 jours",2 août 1923,[2],2 août 1923,"21 091 jours (57 ans, 273 jours)"
29,30,Calvin Coolidge,4 juillet 1872,2 août 1923,"51 ans, 29 jours",4 mars 1929,1 403 jours,5 janvier 1933,"22 099 jours (60 ans, 185 jours)"
30,31,Herbert Hoover,10 août 1874,4 mars 1929,"54 ans, 206 jours",4 mars 1933,11 553 jours,20 octobre 1964,"32 943 jours (90 ans, 71 jours)"
31,32,Franklin D. Roosevelt,30 janvier 1882,4 mars 1933,"51 ans, 33 jours",12 avril 1945,[2],12 avril 1945,"23 082 jours (63 ans, 72 jours)"
32,33,Harry S. Truman,8 mai 1884,12 avril 1945,"60 ans, 339 jours",20 janvier 1953,7 280 jours,26 décembre 1972,"32 373 jours (88 ans, 232 jours)"
33,34,Dwight D. Eisenhower,14 octobre 1890,20 janvier 1953,"62 ans, 98 jours",20 janvier 1961,2 989 jours,28 mars 1969,"28 654 jours (78 ans, 165 jours)"
34,35,John F. Kennedy,29 mai 1917,20 janvier 1961,"43 ans, 236 jours",22 novembre 1963,[3],22 novembre 1963,"16 978 jours (46 ans, 177 jours)"
35,36,Lyndon B. Johnson,27 août 1908,22 novembre 1963,"55 ans, 87 jours",20 janvier 1969,1 463 jours,22 janvier 1973,"23 524 jours (64 ans, 148 jours)"
36,37,Richard Nixon,9 janvier 1913,20 janvier 1969,"56 ans, 11 jours",9 août 1974[6],7 196 jours,22 avril 1994,"29 688 jours (81 ans, 103 jours)"
37,38,Gerald Ford,14 juillet 1913,9 août 1974,"61 ans, 26 jours",20 janvier 1977,10 932 jours,26 décembre 2006,"34 133 jours (93 ans, 165 jours)"
38,39,Jimmy Carter,1er octobre 1924,20 janvier 1977,"52 ans, 111 jours",20 janvier 1981,14 945 jours,NaN,"35 510 jours (97 ans, 81 jours)"
39,40,Ronald Reagan,6 février 1911,20 janvier 1981,"69 ans, 348 jours",20 janvier 1989,5 615 jours,5 juin 2004,"34 088 jours (93 ans, 120 jours)"
40,41,George H. W. Bush,12 juin 1924,20 janvier 1989,"64 ans, 222 jours",20 janvier 1993,9 445 jours,30 novembre 2018,"34 504 jours (94 ans, 171 jours)"
41,42,Bill Clinton,19 août 1946,20 janvier 1993,"46 ans, 154 jours",20 janvier 2001,7 640 jours,NaN,"27 518 jours (75 ans, 124 jours)"
42,43,George W. Bush,6 juillet 1946,20 janvier 2001,"54 ans, 198 jours",20 janvier 2009,4 718 jours,NaN,"27 562 jours (75 ans, 168 jours)"
43,44,Barack Obama,4 août 1961,20 janvier 2009,"47 ans, 169 jours",20 janvier 2017,1 796 jours,NaN,"22 054 jours (60 ans, 139 jours)"
44,45,Donald Trump,14 juin 1946,20 janvier 2017,"70 ans, 220 jours",20 janvier 2021,335 jours,NaN,"27 584 jours (75 ans, 190 jours)"
45,46,Joe Biden,20 novembre 1942,20 janvier 2021,"78 ans, 61 jours",NaN,NaN,NaN,"28 886 jours (79 ans, 31 jours)"

In [143]:
condition = presidents['Président'] == 'John Adams'
presidents[condition]

,No,Président,Né le,Devientprésident le,À l'âge de,Cesse d'êtreprésident le,À la retraitependant,Mort le,Durée de vie
1,2,John Adams,30 octobre 1735[1],4 mars 1797,"61 ans, 125 jours",4 mars 1801,9 253 jours,4 juillet 1826,"33 119 jours (90 ans, 247 jours)"

### Countries

In [144]:
pays = pd.read_html("https://www.geograf.in/fr/table.php")

In [145]:
pays[1].dtypes

Unnamed: 0                            float64
Pays                                   object
Capitale                               object
Superficie[km2]                        object
La population                          object
PIB par habitant[USD par habitant]     object
Espérance de vie[nombre d'années]      object
dtype: object

In [146]:
Capitale = pays[1]  
Capitale = Capitale.convert_dtypes()
Capitale

,Unnamed: 0,Pays,Capitale,Superficie[km2],La population,PIB par habitant[USD par habitant],Espérance de vie[nombre d'années]
0,1,Afghanistan,Kaboul,647 500,31 575 018,1 976,64
1,2,Afrique du Sud,Pretoria,1 219 912,57 725 600,13 526,634
2,3,Albanie,Tirana,28 748,2 821 977,12 943,785
3,4,Algérie,Alger,2 381 740,42 545 964,15 292,763
4,5,Allemagne,Berlin,357 021,82 793 800,52 555,812
...,...,...,...,...,...,...,...
191,192,Venezuela,Caracas,912 050,31 828 110,17 694,747
192,193,Viêt Nam,Hanoï,331 212,94 660 000,6 790,765
193,194,Yémen,Sanaa,527 970,28 915 284,2 606,652
194,195,Zambie,Lusaka,752 614,16 887 720,4 032,623
195,196,Zimbabwe,Harare,390 580,14 848 905,2 433,617

In [147]:
cond = Capitale['Capitale'] == "Paris"
Capitale[cond]

,Unnamed: 0,Pays,Capitale,Superficie[km2],La population,PIB par habitant[USD par habitant],Espérance de vie[nombre d'années]
58,59,France,Paris,675 417,67 348 000,44 032,827